{
  "src/**/*.{ts,tsx}": ["oxlint --fix", "eslint --fix --no-warn-ignored", "prettier --write"],
  "*.config.ts": ["prettier --write"],
  "commitlint.config.ts": ["eslint --fix", "prettier --write"],
  "tsup.config.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}
